# Include license
include LICENSE

# Include README files
include *.md

# Include image
recursive-include MyProject *.png

# Include data
recursive-include MyProject/data *
recursive-include MyProject/tests/data *
